@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;700 & display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Baskerville Old Face';
}
/* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baskerville Old Face';
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #34A2B7;
}
.sidebar #btn{
  position: absolute;
  color: #000;
  left: 90%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translate(-50%);
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo-nam{
  font-size: 26px;
  font-weight: 600;
}
.sidebar .nav-links{
  height: 100%;
  padding-top: 30px;
}
.sidebar .nav-bus{
  height: 100%;
  padding-top: 100px;
}
.sidebar .nav-bus li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-bus li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #000;
  font-size: 20px;
}
.sidebar .nav-bus li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-bus .bus{
  position: absolute;
  height: 100%;
  width: 80%;
  left: 20px;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #EBF1F3;
  opacity: 0.5;
  padding-left: 50px;
  font-size: 18px;
  color: #000;
}

.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #EBF1F3;
}
.sidebar .nav-links li .icon-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #000;
  font-size: 20px;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link-name{
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #EBF1F3;
}
.sidebar .nav-links li .sub-menu a{
  color: #000;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}

.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  transition: all 0.4s ease;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
}
.sidebar .nav-links li .sub-menu .link-name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link-name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #EBF1F3;
  padding: 6px 15px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: gray;
  padding: 10px;
}
.sidebar .profile-details .profile-name
.sidebar .profile-details .job{
  color: #000;
  font-size: 18px;
  font-weight: 500;
}
.sidebar .profile-details .job{
  font-size: 12px;
}

/*alta*/
.cont{
  position: relative;
  top: -470px;
  left: 150%;
  max-width: 700px;
  width: 260%;
  padding: 15px 20px;
  background: #EBF1F3;
  border-radius: 5px;
}
.cont .titl{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.cont .titl::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: #34A2B7;
}
.cont form .user-detail{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px 0 7px 0;
}
form .user-detail .input-box{
  margin-bottom: 15px;
  width: calc(100% /2 - 20px);
}
form .user-detail .input-box1{
  margin-bottom: 10px;
  width: calc(100% /2 - 20px);
}
.cont form .user-detail .input-box1 .mes{
  height: 95px;
  width: 212%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  margin: 10px 10px 0px -337px;
}
.user-detail .input-box1 .details1{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  margin: 80px 0 0 -325px;
}
.user-detail .input-box1 .mes{
  height: 35px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-detail .input-box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-detail .input-box input{
  height: 35px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-detail .input-box input:focus,
.user-detail .input-box input:valid{
  border-color: #34A2B7;
}
.user-detail .input-box1 input.mes:focus,
.user-detail .input-box1 input.mes:valid{
  border-color: #34A2B7;
}
form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
}
form .gender-details .category{
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
.gender-details .category label{
  display: flex;
  align-items: center;
}
.gender-details .category .dot{
  height: 18px;
  width: 18px;
  background: #34A2B7;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
  #dot-2:checked ~ .category label .two,
    #dot-3:checked ~ .category label .three{
  border-color: #34A2B7;
  background: #ccc;
}
form input[type="radio"]{
  display: none;
}
form .button{
  height: 45px;
  margin: 45px 0;
}
form .button input{
  height: 100%;
  width: 100%;
  outline: none;
  color: #000;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 18px;
  background: #34A2B7;
}
form .button input:hover{
  background: #ccc;
}
@media (max-width: 584px) {
  .cont{
    max-width: 100px;
  }
  form .user-detail .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .gender-details .category{
    width: 100%;
  }
  .cont form .user-detail{
    max-width: 300px;
    overflow-y: scroll;
  }
  .user-detail::-webkit-scrollbar{
    width: 0;
  }
}
/*Alta 2*/
.contenedor{
  position: relative;
  top: -410px;
  left: 200%;
  max-width: 700px;
  width: 150%;
  padding: 15px 20px;
  background: #EBF1F3;
  border-radius: 5px;
}
.contenedor .titl{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.contenedor .titl::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: #34A2B7;
}
.contenedor form .user-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px 0 0 57px ;
  
}
form .user-details .input-box{
  margin-bottom: 5px;
  width: calc(100% /2 - 10px);
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #34A2B7;
}
.user-details .input-box input{
  height: 35px;
  width: 170%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
